main h2 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 10px;
}



.head-one-part {
    color: red;
}

.head-two-part {
    margin-top: 3px;
    display: block;
}

.head-main-date {
    display: block;
    padding: 0px 14px;
}

.head-main-date-title {
    display: block;
    font-style: italic;
}

#hdr .head-search-block {
    text-align: right;
    width: fit-content;
    margin-top: 12px;
    float: right;
}

.head-link-icons {
    z-index: 999999;
    display: block;
    position: relative;
    margin-left: -3px;
    width: fit-content;
}

#hdr .head-search-text {
    color: #2f4f6b;
    font-size: 14px;
    margin-right: 4px;
    margin-top: 4px;
}

#hdr .head-lang {
    background: #fff;
    color: #2f4f6b;
    font-style: normal;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: 1px 1px 5px #00000029;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
}

#hdr .head-social-and-search-block {
    display: block;
    float: right;
    margin-right: 20px;
    /* margin-top: -6px;*/
}

.head-social {
    display: block;
}

#hdr .head-logo-and-text-block {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 14px;
    align-items: center;
}

#new-header {
    margin-left: auto;
    margin-top: -8px;
    margin-right: -10px;
}

.mob-hide {
    font-size: 14px;
    margin-right: 5px;
}

.head-top-social ul {
    display: flex;
    margin: 12px 0 0 0 !important;
    gap: 6px;
}

.head-top-social ul li {
    list-style: none;
}

.head-top-social ul li img {
    width: 24px !important;
}

.head-link-icons {
    align-items: self-end;
    display: flex;
    margin-top: 56px !important;
    display: block;
}

.head-link-icons ul {
    display: flex;
}

.head-link-icons ul li {
    list-style: none;
}

.head-link-icons ul li img {
    width: 46px !important;
}

.head-link-icons a:hover {
    opacity: 0.9;
}

.head-top-social a:hover {
    opacity: 0.9;
}

.head-lines-block {
    display: flex;
    width: 100%;
    background: #0052a2;
    padding: 8px 0px;
    max-width: 900px;
    margin: 0 auto;
}

.line-green,
.line-white,
.line-red {
    display: inline-block;
    width: 33.33%;
    height: 6px;
    margin: 0;
    padding: 0;
}

.line-green {
    background-color: green;
}

.line-white {
    background-color: white;
}

.line-red {
    background-color: red;
}

#hdr {
    width: 100%;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto;
    background: #edefea;
}

.head-two-logo {
    max-width: 94px !important;
}

.head-three-logo {
    max-width: 94px !important;
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 10px;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.top-bar img {
    width: 100%;
    max-width: 145px;
    height: auto;
    object-fit: contain;
    text-align: left;
    float: left;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .top-bar img {
        margin-right: 10px;
    }
}

@media screen and (max-width: 414px) {
    .head-search-block {
        display: none
    }
}

@media screen and (max-width: 340px) {
    .top-bar img {
        width: 100%;
        max-width: 110px;
        height: auto;
        object-fit: contain;
        margin-right: 20px;
    }
}

#hdr div,
#hdr span {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
}

#hdr * {
    margin: 0;
    padding: 0;
}

#hdr2 {
    width: 100%;
    height: 190px;
    background-image: url("../images/header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    box-sizing: border-box;
}

#hdr2 img {
    width: 100%;
    max-width: 300px;
    height: 100%;
}

#hdr2 .head-main-logo {
    width: 72%;
    max-width: 274px;
    height: 66px;
    margin-top: 34px;
}

#hdr2 span.header {
    width: 100%;
    margin-top: 37px;
    margin-left: 10px;
    padding: 0px 5px 0 5px;
    float: left;
    text-align: left;
    max-width: 235px;
}

#hdr2 div.text {
    font-size: 21px;
    font-weight: bold;
    color: #fafbfc;
    float: left;
    margin-top: 15px;
}

#hdr2 img.gerb {
    height: 169px;
    width: 160px;
    float: left;
    display: block;
    background-image: url("bb.css");
    background-repeat: no-repeat;
}

#hdr span {
    vertical-align: bottom;
}

/* new subtitle */
.main-subtitle {
    display: block;
    padding: 6px 10px;
    color: #1e3651;
    font-size: 18px;
    border-radius: 2px;
    font-weight: 500;
    border: 1px solid #29466645;
    margin-bottom: 16px;
    margin-top: 10px;
    font-style: italic;
    box-shadow: 1px 2px 10px #2946661a;
    background: #ffffff;
    line-height: 1.4;
    font-style: italic;
}

/* new subtitle */
/*start correction footer*/
@media screen and (max-width: 639px) {
    #hdr2 {
        height: 134px;
        background-image: url("https://healthberry.site/lander/-it--inspicure-low--28.08.25-/css/header3.jpg");

    }

    #footer-section,
    .footer ul li,
    .text-2xl {
        text-align: center !important;
    }

    .footer__link--visible:not(.footer__link--language) {
        width: 100%;
        text-align: center !important;
        display: block !important;
        max-width: 100%;
    }
}

/*end correction footer*/


.section {
    display: block;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.span3 {
    width: 220px;
}

.row-fluid {
    width: 100%;
}

.row-fluid:before,
.row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 23px;
    margin-left: 2.127659574468085%;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid .span3 {
    width: 23.404255319148934%;
}

#new-header form {
    margin: 0 0 20px;
}

#new-header fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

#new-header legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

#new-header label,
input,
button {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

#new-header input,
button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#new-header label {
    display: block;
    margin-bottom: 5px;
}

#new-header input[type="text"] {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    min-width: 100px;
}

#new-header input {
    width: 206px;
}

#new-header input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#new-header input[type="text"]:focus {
    outline: 0;
    outline: thin dotted;
}

#new-header input {
    margin-left: 0;
}

#new-header label {
    font-family: "Trebuchet MS", Arial, Helvetica, Geneva, sans-serif;
    color: #2a2a25;
    font-size: 1.1em;
    line-height: 1.3em;
}

#new-header label {
    font-size: 1.1em;
}

#new-header div.row-search-container {
    margin-bottom: 20px !important;
}

#search-container {
    position: relative;
    z-index: 150;
    max-width: 300px;
}

#search-bar input {
    border: 1px solid #909090;
    width: 148px;
    padding-right: 4px;
    padding-left: 5px;
    font-size: 11px;
}

#search-bar fieldset {
    border: none;
    display: flex;
}

#search-bar button[type=submit] {
    background-color: #2f4f6b;
    text-transform: lowercase;
    color: #fff;
    border: 0;
    padding-top: 0px;
    padding-bottom: 2px;
    font-weight: normal;
    width: 100%;
    max-width: 48px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 0 !important;
    cursor: pointer;
}

#search-bar button[type=submit]:active,
#search-bar button[type=submit]:focus,
#search-bar button[type=submit]:hover {
    background-color: #323232;
}

.hidden {
    display: none;
}

.aside,
.figure,
.header,
.hgroup,
.nav,
.section {
    display: block;
}

#new-header a:hover,
a:active {
    outline: 0;
}

#new-header img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#new-header a {
    color: #0088cc;
    text-decoration: none;
}

#new-header a:hover {
    color: #005580;
    text-decoration: underline;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.row-fluid {
    width: 100%;
}

.row-fluid:before,
.row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 23px;
    margin-left: 2.127659574468085%;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.span8_ale {
    width: 97% !important;
}

.row-fluid .span8_ale {
    width: 100%;
    padding-left: 14px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.row-fluid .span8_ale p {
    margin-left: 0;
}

.row-fluid .span8_ale #seiin {
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

.row-fluid .span8_ale #crumb {
    float: left;
    width: auto;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.container-fluid:before,
.container-fluid:after {
    display: table;
    line-height: 0;
    content: "";
}

.container-fluid:after {
    clear: both;
}

#new-header p {
    margin: 0 0 10px;
}

#new-header h1 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
}

#new-header h1 {
    font-size: 36px;
    line-height: 40px;
}

#new-header ul {
    padding: 0;
    margin: 0 0 10px 25px;
}

#new-header ul ul {
    margin-bottom: 0;
}

#new-header li {
    line-height: 20px;
}

.dropdown-toggle:active {
    outline: 0;
}

.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

#new-header p {
    font-family: "Trebuchet MS", Arial, Helvetica, Geneva, sans-serif;
    color: #2a2a25;
    font-size: 1.1em;
    line-height: 1.3em;
}

#new-header p {
    font-size: 1.1em;
}

#new-header a {
    color: #9F0038;
    font-weight: bold;
    font-size: 1em;
}

#new-header a:hover {
    color: #9F0038;
}

#new-header a:focus {
    outline-color: #8aaebe;
}

#header>div {
    margin-top: -42px;
    position: relative;
}

.row-menu {
    border-bottom: 3px solid #dcdbc1;
    height: 63px;
    background: #ffffff url("bb.css") no-repeat left top;
    position: relative;
    z-index: 110;
}

#header #service-menu {
    position: absolute;
    top: -6px;
    right: 0;
    z-index: 10;
    max-width: 226px;
}

#service-menu ul {
    float: right;
    margin-top: 71px;
    margin-right: 15px;
    line-height: 0.4;
}

#service-menu ul li a {
    font-size: 13px;
    color: #000000;
    padding: 2px 4px 1px 5px;
}

#service-menu ul li:first-child a {
    border: 0;
}

#service-menu ul li a:focus,
#service-menu ul li a:active,
#service-menu ul li a:hover {
    color: #424242;
}

#idOnMO {
    position: relative;
    z-index: 101;
}

.row-banner .figure {
    border-top: 3px solid #fff;
    height: 260px;
    display: block;
    overflow: hidden !important;
    background-color: #FFF;
}

.row-banner img {
    z-index: 1;
    position: relative;
    top: 0;
    display: block;
}

#io-non-fumero-mai a,
#io-non-fumero-mai a:hover,
#io-non-fumero-mai a:focus,
#io-non-fumero-mai a:active {
    z-index: 100;
    text-indent: -9999px;
    top: 230px;
    right: 40px;
    width: 631px;
    height: 74px;
    background: transparent url("bb.css") no-repeat left top;
}

#header .aside p,
#header .aside ul,
#header .aside li {
    display: inline-block;
    font-size: 14px;
}

#header .aside a,
#header .aside p {
    font-size: 12px;
}

#header .aside {
    background-color: #1b1b1a;
    color: #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    top: 1px;
    z-index: 0;
    margin-top: 0px;
}

.breadcrumbs p {
    color: #fff;
    margin-left: 15px;
    margin-bottom: 2px;
}

.breadcrumbs p,
.breadcrumbs ul {
    margin-top: 3px;
}

.breadcrumbs a {
    color: #fff;
    font-weight: bold;
}

.breadcrumbs a:active,
.breadcrumbs a:focus,
.breadcrumbs a:hover {
    color: #fff;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
    line-height: 0.7;
}

#navigation {
    z-index: 100;
    position: relative;
    width: auto;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 14px
}

#header {
    position: relative;
    z-index: 52;
    margin-top: 28px
}

#navigation li {
    line-height: 14px;
}

#navigation li li li {
    height: 22px;
    width: 100%;
}

#navigation li li ul.twocols li {
    height: 22px;
    width: 50% !important;
}

#navigation>ul {
    display: inline;
    width: 100%;
}

#navigation>ul>li {
    display: block;
    position: relative;
    float: left;
    width: fit-content;
    border-radius: 0 !important;
    margin-bottom: 0;
}

#ministro {
    margin-left: 0px;
}

#navigation>ul>#menu-salute {
    background: #f1f1f1 url("bb.css") no-repeat left top;
    z-index: 3;
}

#navigation>ul>#menu-salute>a {
    outline: 1px solid #3c94bc;
}

#navigation>ul>#temi {
    background: #f1f1f1 url("bb.css") no-repeat left top;
    z-index: 2;
}

#navigation>ul>#temi>a {
    outline: 1px solid #6fad24;
}

#navigation>ul>#news {
    background: #f1f1f1 url("bb.css") no-repeat left top;
    z-index: 1;
}

#navigation>ul>#news>a {
    outline: 1px solid #f48c05;
}

#navigation>ul>#ministro {
    background: #f1f1f1 url("bb.css") no-repeat left top;
    z-index: 0;
}

#navigation>ul>#ministro>a {
    outline: 1px solid #d87999;
}

#navigation>ul>li>a {
    display: block;
    padding: 15px 0 13px 44px;
    background: transparent url("bb.css") no-repeat left top;
    height: 45px;
    font-size: 1.4em;
    font-weight: bold;
    color: #3a3a32;
}

#navigation>ul>#menu-salute:hover,
#navigation>ul>#ministro:hover,
#navigation>ul>#news:hover,
#navigation>ul>#temi:hover {
    background-position: left bottom;
}

#navigation>ul>li:hover>a,
#navigation>ul>li.active>a {
    color: #3A3A32;
    text-decoration: none;
}

#navigation>ul>li>a.menu-item-salute {
    background-position: 0 -247px;
}

#navigation>ul>li:hover>a.menu-item-salute {
    background-position: 0 -7px;
}

#navigation>ul>li>a.menu-item-temi {
    background-position: 0 -307px;
}

#navigation>ul>li:hover>a.menu-item-temi {
    background-position: 0 -67px;
}

#navigation>ul>li>a.menu-item-news {
    background-position: 0 -367px;
}

#navigation>ul>li:hover>a.menu-item-news {
    background-position: 0 -127px;
}

#navigation>ul>li>a.menu-item-ministro {
    background-position: 0 -427px;
}

#navigation>ul>li:hover>a.menu-item-ministro,
#navigation>ul>li.active>a.menu-item-ministro {
    background-position: 0 -187px;
}

ul.level-2 {
    position: absolute;
    top: 46px !important;
    background: none;
    border: none;
    display: none;
}

#ministro ul.level-2 {
    left: -1px !important;
}

ul.level-3 {
    display: none;
}

.active>ul.level-2,
.active>ul.level-3 {
    display: block;
}

li {
    display: list-item;
}

#ministro>.level-2>li>a:hover {
    background-color: #e7b7c7;
    border-radius: 0 !important;
}

#ministro>.level-2>.final-link.active>a {
    background-color: #A41648;
    font-weight: bold;
    color: #FFF;
}

.level-2 li>ul {
    padding: 0;
    width: 280px;
    border-radius: 0px !important;
}

.level-2 li>ul.twocols {
    width: 444px;
}

.level-3 li {
    margin: 12px 0 0;
    float: left;
}

.level-3 li>a {
    display: block;
    color: #3A3A32;
    width: 100%;
    padding: 2px 11px;
    text-align: left;
}

#ministro .level-3 li>a:hover {
    background-color: #e7b7c7;
    color: #3A3A32 !important;
    border-radius: 0 !important;
}

#ministro .final-link.active>a {
    background-color: #A41648;
    color: #FFFFFF !important;
    border-radius: 0 !important;
}

#ministro .final-link.active>a {
    background-color: #A41648;
    color: #FFFFFF !important;
}

.logo {
    width: 100%;
    max-width: 349px;
    position: absolute;
    left: 9px;
    top: -17px;
}

.figure {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.container-fluid {
    height: auto;
}

#header>div>.row-fluid {
    width: auto;
}

img.no_border_margin {
    border: 0;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    max-width: none !important;
}

.level-3 li>a {
    display: block;
    color: #3A3A32;
    width: 90%;
    height: 29px;
    margin-top: -1px;
    padding: 2px 11px 0px;
}

.bar_navigation_img {
    width: auto !important;
}

.rotator_display {
    display: block;
}

.rotator_display_none {
    display: none;
}

.pagination_banner {
    float: right;
    position: relative;
    right: 40px;
}

.pagination_banner>ul>li {
    float: left;
    margin-left: 10px;
}

.pag_ban {
    height: 13px;
    position: absolute;
    top: 235px;
}

a.evidenziaElementi:focus {
    outline: none !important;
}

.padding-new-soc {
    padding-left: 7px;
    padding-right: 7px;
}

@media screen and (max-width: 639px) {
    footer .mb-6 {
        text-align: center
    }

    .footer__link {
        min-width: 100%;
    }
}

@media screen and (max-width: 468px) {
    .mob-hide {
        display: none !important
    }

    #service-menu ul {
        margin-right: 15px;
        line-height: 0;
        margin-top: 75px;
    }

    #service-menu ul li a {
        padding: 0;
    }

    #header #service-menu {
        max-width: 139px;
    }
}

@media screen and (max-width: 410px) {
    #search-container {
        max-width: 236px;
    }

    #search-bar button[type=submit] {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    #service-menu {
        display: none
    }
}


.h1-bg {
    position: relative;
    background: #fdf0b087;
    padding: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    max-width: 900px;
    margin: 0 auto;
    /* width: 96%; */
    margin-bottom: 22px;
}

.h1-bg::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(255, 255, 255, 0.454);*/
}

.title_h1 {
    position: relative;
    background-color: rgb(255 255 255 / 0%);
    border-radius: 5px;
    padding: 10px 14px;
    font-style: normal;
    border-bottom: 2px solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #3d3d3df5;
    display: block;
    padding-top: 24px;
}


.recept {
    background: #d8d8d8;
    padding: 10px 18px;
    box-shadow: 1px 1px 11px 0 #00000024;
    border-radius: 4px;
    border: 3px solid white;
    margin-bottom: 26px;
}

.my-ul-0-green {
    margin-left: 0;
}

.my-ul-0-green li {
    position: relative;
    display: list-item;
    padding-left: 24px;
    margin-bottom: 7px;
    list-style: none;
    line-height: 1.2;
}

.my-ul-0-green li:before {
    content: '—';
    position: absolute;
    top: 0;
    left: 0;
    color: #1ba023;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}

.my-ul-0-green font {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}


.table-block {
    font-family: 'Sceptica', 'Roboto', sans-serif !important;
    display: block;
    box-shadow: 0 0 9px #00000045;
    border: 8px solid #ffffff;
    border: 8px solid #ffffff;
    /* background: #00dcff33; */
    /* background: #b5f4ff; */
    border-radius: 4px;
    max-width: 548px;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000;
    background-position: center center;
    margin-top: 24px;
    width: 100%;
}

.table-title-block {
    padding: 14px;
}

.table-block h1 {
    font-family: 'FS Jack Poster', 'Roboto', sans-serif;
    line-height: 1.3;
    margin-bottom: 0;
    color: #373737;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #8d8d8d;
    padding: 14px 10px;
    border-bottom: 0;
    font-weight: 400;
    background: #ffbc0047;
}

@media print {
    .table {
        display: table;
    }

    table {
        width: 100%;
        color: #32313a;
        border-radius: 5px;
        border-collapse: collapse;
        border-spacing: 0;
        line-height: 23px;
        margin: 40px 0;
    }
}

@media print {
    .table {
        display: table;
    }

    table {
        width: 100%;
        color: #32313a;
        border-radius: 5px;
        border-collapse: collapse;
        border-spacing: 0;
        line-height: 23px;
        margin: 40px 0;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media print {
    .table {
        border-collapse: collapse !important;
    }
}

table {
    background-color: transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table,
tbody,
td,
th,
tr {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px !important;
    overflow: hidden;
    border: 0px solid black;
}

td,
th {
    border: 0.1px solid black !important;
}

.table th {
    background-color: #2c5aa0;
    color: #fff;
}

.table td,
.table th {
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.1rem;
    vertical-align: middle;
    font-size: 16px;
}

.table td {
    background: none !important
}

.table td.one {
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    border-radius: 0;
    color: #093640;
}

.table td.two {
    font-size: 20px;
    font-family: 'Sceptica', 'Roboto', sans-serif !important;
    color: #33a641;
    text-align: left;
    font-weight: 500;
}

@media screen and (max-width:992px) {
    .table {
        font-size: 18px;
    }
}

@media screen and (max-width:460px) {
    .table {
        font-size: 16px;
    }
}

/*footer logo and date*/
.stat-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: visible;
    margin-top: 15px;
    margin-bottom: 14px;
}

.stat-footer-logo {
    max-width: 190px;
    width: 87%;
    height: auto;
    flex-shrink: 0;
    margin: 0;
}

.stat-footer-banner {
    display: block;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding-right: 15px;
    min-width: 164px;
    white-space: nowrap;
    text-align: right;
    flex-shrink: 1;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    z-index: 99;
}

.stat-footer-banner a {
    color: #7a7a7ab5;
    text-decoration: none;
    padding-top: 8px;
}

@media (max-width: 468px) {
    .stat-footer-logo {
        max-width: 160px;
        width: 47%;
    }

    .stat-footer-banner {
        font-size: 13px;
        min-width: 139px;
    }
}

@media (max-width: 408px) {
    .stat-footer-banner {
        font-size: 11px;
        min-width: 119px;
    }
}

@media (max-width: 768px) {
    .stat-footer-logo {
        max-width: 170px;
        width: 57%;
    }
}

/*footer logo and date*/


table-unique1,
tbody-unique1,
td-unique1,
th-unique1,
tr-unique1 {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.table-unique1 {
    font-family: Roboto, sans-serif;
    margin-bottom: 15px;
    margin-top: 24px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px !important;
    overflow: hidden;
    border: 0px solid black;
}

.table-unique1 td,
.table-unique1 th {
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.1rem;
    vertical-align: middle;
    font-size: 16px;
}

.table-unique1 th {
    background-color: rgb(255, 216, 145);
}

.table-unique1 td.disease-unique1 {
    text-align: left;
}

@media screen and (max-width: 992px) {
    .table-unique1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 460px) {
    .table-unique1 {
        font-size: 16px;
    }
}


.issled-title {
    font-size: 15px !important;
    line-height: 1.25 !important;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    color: red;
}

.issled-h4 {
    font-size: 18px !important;
    margin-bottom: 0;
}

.back-result-point {
    width: 100%;
    background: #a2a2a28f;
    border: 1px solid #adadad;
    margin-bottom: 5px;
}

#popup3 h2 {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 24px;
    text-align: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#popup3 {
    z-index: 9999;
    background-image: url("https://healthberry.site/lander/-it--inspicure-low--28.08.25-/css/formbg-nobord.jpg");
    background-size: cover;
    background-position: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    z-index: 101;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: 800px;
    width: 93%;
    height: 87%;
    overflow-y: auto;
    max-height: 100vh;
}

#closePopup {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#pagination {
    text-align: center;
}

@media (max-width: 576px) {
    .ul-sostav li {
        font-size: 16px !important;
    }
}

#pagination button {
    color: #254da1;
    padding: 5px;
    border: 1px solid #254da1;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    background: rgb(15 0 162 / 5%);
    font-family: sans-serif;
    font-size: 13px;
}

#pagination button:hover {
    color: #fff;
    background: #254da1;
    transition: 0.2s;
}

#pagination button:active {
    color: #fff;
    background: #254da1;
    transition: 0.2s;
}

.ul-sostav {
    padding-left: unset;
    text-align: left;
    list-style: auto;
    width: 80%;
    max-width: 344px;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media all {
    .elementor-kit-5554 h3 {
        font-family: "Arial", Sans-serif;
        font-size: 18px;
    }
}

.graph {
    width: 100%;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.graph .txt {
    position: relative;
    text-align: left;
    color: #fff;
    padding: 0;
    border-radius: 1px;
    margin-bottom: 2px;
    width: fit-content;
    font-size: 14px;
    padding: 2px 5px;
}

.graph .beforetxt {
    color: #070707 !important;
    font-weight: 500;
    padding: 0 !important;
    font-size: 14px !important;
}

.graph .beforetxt span {
    text-align: left;
    display: block;
    padding: 0;
}

.graph .txt span {
    text-align: left;
    display: block;
    padding: 5px 10px;
}

.graph .txt {
    background: #5095c5;
    margin-bottom: 0;
}

.graph .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
}

.graph {
    width: 100%;
    position: relative;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.graph-title {
    text-align: center;
}

#content h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 18px;
    padding-left: 0;
}

.percent {
    text-wrap: nowrap;
}


@media all {
    .pachinoform input::placeholder {
        font-size: 15px !important;
    }

    .pachinoform input {
        font-size: 14px;
    }
}

.pachinoform {
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000;
    border: 6px solid #166ca7;
    background-color: #fff;
    background-image: url("https://healthberry.site/lander/-it--inspicure-low--28.08.25-/css/181eba6c5b17e59936214f76fd7ee22fa509e932.svg");
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;
    max-width: 781px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.pachinoform p {
    margin: 0;
    padding: 0;
}

.pachinoform_title {
    display: flex;
    gap: 30px;
    max-width: 400px;
    align-self: center;
    text-align: center;
}

.pachinoform_title_logo {
    flex-shrink: 0;
}

.pachinoform_title_text {
    align-self: center;
}

.pachinoform_title_text>b {
    display: block;
}

.pachinoform_order {
    max-width: 600px;
    font-weight: bold;
    font-size: 16px;
    list-style: 1.4;
    margin: 15px 0;
    text-align: center;
}

.pachinoform_order>b {
    color: #ed1b24;
}

.pachinoform_footer {
    text-align: center;
    color: #000;
    font-size: 14px;
    margin: 10px 0;
}

.pachinoform_footer>img {
    margin-top: 10px;
}

.pachinoform_value {
    display: flex;
    color: #166ca7;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    align-self: center;
}

.pachinoform_value_current {
    border: 1px solid #000;
    color: #ff5858;
    line-height: 1;
    font-size: 24px;
    padding: 5px 20px;
    margin: 0 15px;
}

.pachinoform_value_total {
    font-size: 24px;
}

.pachinoform_price {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 30px;
    margin-top: 30px;
}

.pachinoform_price_old span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #000;
    position: relative;
    line-height: 1;
}

.pachinoform_price_old span:before {
    position: absolute;
    content: "";
    left: 0;
    top: 45%;
    right: 0;
    border-top: 4px solid #ed1b24;
    transform: rotate(-15deg);
}

.pachinoform_price_new span {
    display: block;
    background-color: #ed1b24;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    font-size: 44px;
    padding: 5px 15px;
    font-weight: 700;
    line-height: 1;
}

@media (max-width:500px) {
    .pachinoform_title {
        gap: 5px;
    }

    .pachinoform_title_text {
        font-size: 16px;
    }

    .pachinoform_value {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.pachinoform .name-input,
.pachinoform .phone-input {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.pachinoform .name-input label,
.pachinoform .phone-input label {
    font-weight: bold;
    margin-top: 10px;
}

.pachinoform .name-input input,
.pachinoform .phone-input input {
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    min-width: 0;
    background: #fff;
    border: 2px solid #68beff;
    padding-left: 24px;
    font-size: 20px !important;
}

.pachinoform .button-submit:focus,
.pachinoform input:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #b2af42a6;
}

.pachinoform .button-submit {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #ffc9c9;
    padding: 14px 0;
    cursor: pointer;
    background: #ff0d17;
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
}

.pachinoform .button-submit:hover {
    background: #bf080f;
    transition: .2s
}

.pachinoform ::placeholder {
    color: #000;
    opacity: 1;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .blc-pck {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .pachinoform_value_current {
        margin: 0;
    }
}


.custom-form {
    max-width: 980px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 8px rgb(81 81 81 / 34%);
    border: 1px solid #c51e1e59;
    box-sizing: border-box;
    font-family: Tahoma, Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(0 0 0 / 3%);
}

.custom-form__top-field {
    display: flex;
    gap: 20px;
    align-items: center;
}

.custom-form__ava-block {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(227 196 196);
    transition: 0.3s;
    flex: 0 0 auto;
}

.custom-form__ava-block:hover {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
}

.custom-form__ava-input {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    display: none;
}

.custom-form__ava-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 12px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 100;
}

.custom-form__ava-label img {
    border-radius: 50%;
}

.custom-form__ava-label_red-text {
    color: red;
    line-height: 4px;
}

.custom-form__name {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    outline: none;
    border: 1px solid rgb(134 0 0 / 46%);
    padding: 12px 16px;
    font-size: 14px;
    text-indent: 0;
    height: 43px;
    box-sizing: border-box;
    font-family: inherit;
}

.custom-form__message {
    resize: none;
    width: 100%;
    outline: none;
    border: 1px solid rgb(134 0 0 / 46%);
    padding: 10px 12px;
    min-height: 100px;
    text-indent: 0;
    font-size: 14px;
    line-height: unset;
    font-family: inherit;
    box-sizing: border-box;
}

.custom-form__bottom-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-form__btn {
    width: 100%;
    max-width: 300px;
    outline: none;
    border: none;
    padding: 10px 8px;
    background: #ffffff;
    color: #df0000;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 300ms ease;
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit;
    border: 1px solid;
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    margin-top: 10px;
    text-decoration: none !important;
}

.custom-form__btn:hover {
    color: #fff;
    background-color: #df0000;
}

.custom-form__photo-block {
    position: relative;
}

.custom-form__photo-input {
    width: 20px;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    display: none;
    opacity: 0;
}

.custom-form__photo-label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;
    border: none;
    text-decoration: underline;
    color: #3858f5;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        max-height: 0;
    }
}

.hidden {
    animation: fade-out 1s ease;
}

.comment-from__photo {
    max-width: 300px;
    width: 100%;
    margin-left: 60px;
}

@media screen and (max-width: 500px) {
    .comment-from__photo {
        margin-left: auto;
    }
}


body input[name="phone"] {
    background-repeat: no-repeat !important;
    background-position: left 15px center !important;
}

form input.order__input,
form select,
form input.order__input:focus {
    background-color: #fff !important;
    border: 1px #bbb solid !important;
}


.doc-block {
    padding: 10px;
    border: 3px #004478 dashed;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.doc-block p {
    padding-left: 12px;
    padding-right: 12px;
}

.rev-block {
    margin-bottom: 20px;
    padding: 16px;
    background: #ffbc0047;
    box-shadow: 2px 2px 9px #0000002b;
    border: 2px solid #f2dda2;
    border-radius: 5px;
}

.rev-block font {
    display: block;
    margin-bottom: 16px;
}

.block-offer-actions-block {
    padding: 16px;
    border: 1px solid #979797;
    border-top: none;
}

.obertk512 {
    font-family: 'Sceptica', 'Roboto', sans-serif !important;
    display: block;
    box-shadow: 0 0 9px #00000045;
    border: 8px solid #ffffff;
    border-radius: 4px;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000;
    background-position: center center;
    margin-top: 24px;
    border-radius: 4px;
    width: 100%;
}

.obertk512 h1 {
    font-family: 'FS Jack Poster', 'Roboto', sans-serif;
    line-height: 1.3;
    margin-bottom: 0;
    color: #373737;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #8d8d8d;
    padding: 14px 10px;
    font-weight: 400;
    background: #ffbc0047;
}

.obertk512 ol {
    padding-left: 22px;
    margin-top: 4px;
}

.obertk512 li {
    line-height: 1.2;
}

.obertk512 li::marker {
    font-weight: 600;
    color: #33a641;
}

.obertk512 li font {
    line-height: 1.28;
    font-family: 'Sceptica', 'Roboto', sans-serif !important;
    color: #33a641;
    text-align: left;
    font-weight: 500;
}

.block-offer-actions-block li span {
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #6c6d6d;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 4px;
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 16px;
}

.receipt-block {
    margin-bottom: 26px;
}

.pachino-ramka {
    border: 3px solid #ff7000;
    padding: 14px;
    border-radius: 4px;
    background: #ffa5000a;
}

.ramka-title {
    display: block;
    background: #ff4d0021;
    color: #191515;
    padding: 6px 8px;
    margin-bottom: 12px;
    font-weight: 400 !important;
    background: hsla(24, 89%, 82%, 1);
    background: linear-gradient(0deg, hsla(24, 89%, 82%, 1) 0%, hsla(30, 100%, 99%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(24, 89%, 82%, 1) 0%, hsla(30, 100%, 99%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(24, 89%, 82%, 1) 0%, hsla(30, 100%, 99%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FACAAA", endColorstr="#FFFDFB", GradientType=1);
}
}

.pachino-ramka font {
    color: red;
}

.pachino-ramka2 {
    box-shadow: 3px 3px 12px rgb(51 51 51 / 12%);
    text-align: left;
    color: #199751;
    font-weight: 600;
    border: 2px solid;
    border-radius: 4px;
    padding: 15px;
    background: #f8fff973;
}

.ramka-title2 {
    display: block;
    background: #166ca72b;
    color: #166ca7f2;
    padding: 2px 8px;
    margin-bottom: 12px;
}

.pachino-ramka312 {
    box-shadow: 3px 3px 12px rgb(51 51 51 / 12%);
    text-align: left;
    color: red;
    font-weight: 600;
    border: 2px solid red;
    border-radius: 4px;
    padding: 15px;
    background: #ff000005;
    margin-bottom: 24px;
}

.pachino-ramka312 .obertka-1 {}

.pachino-ramka316 {
    box-shadow: 3px 3px 12px rgb(51 51 51 / 13%);
    text-align: left;
    background-color: #3289c282;
    padding: 2px;
    border-radius: 4px;
    font-size: 18px;
    border: 6px solid #3289c2;
    font-weight: 500;
    text-shadow: 0 0 0px #7070705e;
}

.pachino-ramka316 .obertka-2 {
    background: #3289c2;
    border: none;
    display: block;
    padding: 12px;
    border-radius: 4px;
    color: #ffffff;
}

.pachino-ramka618 {
    box-shadow: 3px 3px 12px rgb(51 51 51 / 13%);
    text-align: left;
    line-height: 1.32;
    background-color: #fe080803;
    padding: 2px;
    border-radius: 4px;
    color: #ff2f00;
    font-size: 19px;
    border: 4px dashed #ffffff;
    font-weight: 500;
    text-shadow: 0 0 0px #8329155e;
}

.nowrap {
    text-wrap: nowrap;
}

.img-card {
    margin-top: 28px;
    border: 12px solid #fff;
    box-shadow: 3px 2px 9px #00000021;
    border-radius: 4px;
    outline: 1px solid #c4c4c47d;
}

.img-card2 {
    border-radius: 4px;
    border: 8px solid #fff;
}

.citate {
    color: red;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 10px;
}

h2 span {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pre-cta {
    color: green;
    font-weight: 500;
    font-size: 19px;
}

.noclose-cta {
    font-size: 19px;
    max-width: 778px;
    margin: 0 auto;
    display: block;
    margin-bottom: 12px;
}

.my-split {
    display: none;
}

.redmoon {
    background: red;
    color: lightpink;
}



@font-face {
    font-family: 'roboto-fixed-line';
    src: url("bb.css");
    font-weight: 700;
    font-display: swap;
}

* .ffl {
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif !important;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

@media screen and (min-width: 469px) {
    .ffl {
        display: none !important;
    }
}

.ffl {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #f14e23;
    text-align: center;
    width: 100%;
    padding: 10px 30px;
    opacity: 0;
    display: none;
    z-index: 99;
    font-family: sans-serif !important;
    font-size: 16px;
    font-weight: 500;
}

.ffl__anim {
    -webkit-animation: example 1.3s ease;
    animation: example 1.3s ease;
    opacity: 1;
}

@-webkit-keyframes example {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: .9
    }

    100% {
        opacity: 1
    }
}

@keyframes example {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    75% {
        opacity: .9
    }

    100% {
        opacity: 1
    }
}

.ffl__wrap {
    position: relative;
}

.ffl__close {
    position: absolute;
    top: 0;
    right: -20px;
    color: #fff;
    font-size: 25px;
    font-family: serif;
    line-height: 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-weight: 700;
}

.ffl__out {
    display: none !important;
}

.ffl__text {
    color: #fff;
    text-shadow: 0 0 0 #fff;
}

.ffl__price {
    font-size: 16px;
    white-space: nowrap;
}

.ffl-new-price {
    font-weight: 600 !important;
    font-size: 17px !important;
}

.ffl__price span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.ffl__btn,
.ffl__btn:focus,
.ffl__btn:hover,
.ffl__btn:active {
    background-color: #ffbe01;
    color: #a12d0f;
    border-radius: 3px;
    padding: 7px 30px;
    display: inline-block;
    margin: 5px auto;
    text-decoration: none;
    -webkit-animation: blinker 2s cubic-bezier(1.0, 0, 0, 1.0) infinite;
    animation: blinker 2s cubic-bezier(1.0, 0, 0, 1.0) infinite;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none !important;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.7;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.7;
    }
}

.tolkochto {
    color: green;
    font-weight: 600;
    font-size: 12px;
}