:root {
    --color-magenta: #E20074;
    --color-salemsfur: #171B26;
    --color-magentaLight: #F9CCE3;
    --color-royalblue: #00A0DE;
    --color-trout: #474C59;
    --color-manatee: #8D93A6;
    --color-snow: #FFFFFF;
    --color-botticelli: #CFD5E5;
    --color-whitelilac: #EBEFF7;
    --color-alpine: #F7F9FC;
    --color-red: #EE3F54;
    --color-green: #0D8033;
    --color-cararra: #E7E6E0;
    --color-iceWater: #F2F6FF;
    --color-pro: #EDFAF2;
    --color-con: #FEECEE;
    --color-black: #0A0C14;
    --color-cadetBlue: #A3AABF;
    --color-riverBed: #495166;
    --color-ebony: #262C3B;
    --color-goldenSand: #F5E198;
}


.css-1fezxdr {
    position: -webkit-sticky;
    position: sticky;
    z-index: 701;
    top: 0;
    width: 100%;
    background-color: var(--color-snow);
}
.css-1x2681d {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
    ;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 40px;
    background-color: var(--color-alpine);
}
.css-1u9j99j {
    height: 1px;
    min-height: 1px;
    background-color: var(--color-whitelilac);
}


.css-889j7l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: auto;
}
.css-1l6c000 {
    display: grid
;
    grid-auto-flow: column;
    grid-gap: 12px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-kvylio {
    display: inline-grid
;
    height: 100%;
}
.css-15b93or {
    -webkit-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    display: grid
;
    grid-auto-flow: column;
    grid-gap: 12px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-color: var(--color-manatee);
    color: var(--color-manatee);
}
.css-s5xdrg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.max-w-none {
    max-width: none !important;
}

.w-\[calc\(var\(--width\)_\/_16_\*_1rem\)\] {
    width: calc(var(--width) / 16 * 1rem) !important;
}
.h-\[calc\(var\(--height\)_\/_16_\*_1rem\)\] {
    height: calc(var(--height) / 16 * 1rem) !important;
}
.block {
    display: block !important;
}
.css-1iuj5ih {
    padding-left: 8px;
}
.css-1qfbff0:empty {
    padding-left: 40px;
}

.css-1qfbff0 {
    padding-left: 4px;
    color: var(--color-green);
    font-weight: bold;
}
.css-1dnikvo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    border-color: var(--color-manatee);
    color: var(--color-manatee);
}
.css-1dnikvo::after {
    content: '';
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
;
    width: 0;
    height: 0;
    margin-left: 8px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
}
.css-eksh2w {
    position: absolute;
    z-index: 701;
    top: 100%;
    width: auto;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: none;
    display: grid
;
    z-index: 711;
    grid-auto-flow: row;
    grid-gap: 12px;
    width: 100%;
    padding: 0 8px;
    border-style: solid;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-color: var(--color-magenta);
    background-color: var(--color-snow);
    box-shadow: 0 8px 16px rgba(125, 152, 178, 0.2);
}
.css-eksh2w::before {
    content: '';
    border-top: 1px solid var(--color-magenta);
}
.css-tt8e7k {
    -webkit-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-salemsfur);
}
.css-eksh2w::after {
    content: '';
    border-bottom: 1px solid transparent;
}

.css-ypvv3a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: auto;
}

.css-19bu6wp {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-1mqt6yl {
    -webkit-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}

.css-1dge5sj {
    display: grid
;
    grid-auto-flow: row;
    grid-gap: 16px;
    grid-gap: unset;
}

.css-18jplui {
    width: 100%;
    min-width: 20em;
    border-left-color: var(--color-whitelilac);
}

.css-1ue435e {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    isolation: isolate;
}
.css-1f3uoxw {
    display: grid
;
    grid-auto-flow: column;
    grid-template-columns: 414px 1fr;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-right: -48px;
}
.css-11stn1j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    min-width: 270px;
}
.css-5ong6p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
}
.css-1hi4meq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    position: relative;
    width: 100%;
}
.css-1ff36h2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.css-na5faf {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
;
    z-index: 10;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 48px;
    margin-left: -4px;
    padding-right: 12px;
    padding-left: 12px;
    overflow: hidden;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    background-color: var(--color-magenta);
    color: #F7F9FC;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}
.css-bjn8wh {
    position: relative;
}
.css-x7ucxh {
    left: 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.css-zjik7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
}
.css-1flu3ze {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-botticelli);
    border-right: 0;
    border-radius: 4px 0 0 4px;
    outline: none;
    background-color: transparent;
    color: var(--color-salemsfur);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.4;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding-left: 48px;
    width: 100%;
    height: 48px;
    font-weight: 600;
}
.css-11stn1j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    min-width: 270px;
}
.css-139yjj5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 12px;
    border: 1px solid var(--color-botticelli);
    border-radius: 4px;
    background: var(--color-snow);
    color: var(--color-magenta);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    gap: 8px;
}


.css-9uu57o {
    position: relative;
    background: var(--color-snow);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: auto;
}

.css-1ppyx7y {
    display: grid
;
    grid-auto-flow: column;
    grid-gap: 16px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    overflow-x: scroll;
    overflow-y: auto;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain;
}
.css-1c1g68d {
    display: inline-grid
;
    position: static;
    white-space: nowrap;
}

li {
    font-size: 18px;
    line-height: 1.7;
}
.css-1iptnqs {
    -webkit-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
}

.w-16 {
    width: 1rem !important;
}
.css-1d2fdp0 {
    position: relative;
    position: static;
}
.css-1w4t7ks {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
}
.css-tt8e7k {
    -webkit-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-salemsfur);
}
.css-sd11t3 {
    -webkit-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    display: grid
;
    grid-auto-flow: column;
    grid-gap: 12px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-color: var(--color-manatee);
    color: var(--color-manatee);
    white-space: nowrap;
}

.css-19bu6wp-mob {
    display: none;
    gap: 20px;
}

.css-19bu6wp-mob a {
    color: #1b1b1b;
}

@media (min-width: 769px) {
    .css-1fezxdr {
        position: relative;
        top: unset;
    }
}

@media (min-width: 769px) {
    .css-ypvv3a {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (min-width: 769px) {
    .css-19bu6wp {
        -webkit-flex: 0 0 257px;
        -ms-flex: 0 0 257px;
        flex: 0 0 257px;
        min-width: 257px;
    }
}

@media (min-width: 769px) {
    .css-19bu6wp {
        -webkit-flex: 0 0 348px;
        -ms-flex: 0 0 348px;
        flex: 0 0 348px;
        width: 348px;
    }
}

@media (min-width: 769px) {
    .css-1dge5sj {
        grid-gap: unset;
    }
}

@media (min-width: 769px) {
    .css-1dge5sj {
        grid-auto-flow: column;
        grid-gap: 24px;
        grid-template-columns: auto 1fr;
    }
}

@media (min-width: 769px) {
    .css-18jplui {
        border-right-width: 0;
        z-index: 710;
    }
}

@media (min-width: 769px) {
    .css-18jplui {
        position: relative;
        z-index: 1;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: transparent;
    }
}

@media (min-width: 769px) {
    .css-1ue435e {
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media (min-width: 769px) {
    .css-1ue435e {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (min-width: 769px) {
    .css-1ppyx7y {
        padding-right: unset;
        padding-left: unset;
    }
}

@media (max-width: 768px) {
    .css-9uu57o {
        padding: 0 20px;
    }
    .css-18jplui, .css-1x2681d, .css-9uu57o {
        display: none;
    }
    .css-ypvv3a {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .css-19bu6wp {
        flex: 0;
    }
    .css-19bu6wp-mob {
        display: flex;
    }
}