.playbutton{
    position: absolute;
}
#container_video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
video {
    width: 100%;
    max-width: 800px;
}
.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
    width: 80px;
    height: 80px;
    transition: opacity 0.3s ease-in-out;
}
#play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
}
#progressBarContainer {
    width: 100%; /* Растягиваем на всю ширину */
    max-width: 900px; /* Ограничиваем ширину до 900px */
    height: 10px;
    background: #ddd;
    position: absolute;
    bottom: -2%;
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Центрируем по горизонтали с учетом ширины */
}
#progressBar {
    height: 100%;
    width: 0;
    background: red;
    transition: width 0.1s linear;
}
#order {
    display: none;
}
.fb-comments-wrapper {
    display: none; /* Скрываем все блоки по умолчанию */
  }
  @media(max-width:600px){
    #progressBarContainer{
        height: 5px;
    }
  }
  @media (max-width: 400px) {
    .tv_icons {
      flex-wrap: wrap;
    }
    .main_header{
      font-size: 17px !important;
    }
    .wos1{
      padding: 10px;
    }
    .WFAnv{
      margin-bottom: 0;
      padding: 10px;
    }
    .block_tv p{
      font-size: 15px !important;
    }
    .block_tv{
      gap: 15px !important;
    }
    .tv_icons img{
      width: 40px !important;
      height: 40px !important;
    }
    
  }